target/
.project
.idea
*.iml

# Ignore gogui-twogtp output in the root directory
/*.sgf
/*.dat*
/*.html
/*.lock

# Ignore CLOP experiments output
misc/clop/experiments
misc/clop/*.dat
misc/clop/*.log

# Ignore KGS config files as they contain passwords
misc/kgs/*.cfg
