engine=cargo run --release -q -- --log
verbose=t
name=Imrscl
room=Computer Go
mode=tournament
rules=chinese

##############################################
# Change these values before each tournament #
##############################################
password=
rules.boardSize=19
rules.time=14:00+10/0:30
